*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #region common */

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

/* #endregion common */

/* #region Header */

header{
    nav{
        background-color: rgba(0, 255, 255, 0.213);
        .container{
            background-color: black;
            display: flex;
            justify-content: space-between;
        }

        ul.left-menu,
        ul.right-menu{
            background-color: white;
            display: flex;
            list-style: none;
            gap: 0.5rem;
        }
    }
}


/* #region Jumbotron */

.jumbotron{
    background-color: orange;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    .title-jb{
        background-color: aqua;
    }

    .img-jb{
        background-color: black;
    }

    .paragraph-jb{
        background-color: aqua;
    }
}
/* #endregion Jumbotron */

/* #region business */

.business{
    background-color: aquamarine;
}